body{
    overflow: hidden;
    background: linear-gradient(135deg, #0A1F44, #6C3BA5)
}

#tela-inicial {
  background: linear-gradient(135deg, #0A1F44, #6C3BA5);
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 1s ease;
}

#iniciar {
  text-align: center;
  text-decoration: none;
  background-color: #B2228E;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  color: white;
  height: 15px;
  width: 100px;
  cursor: pointer;
  transition: 0.3s;
  filter: drop-shadow(1px 1px 10px #B2228E);
  animation: pulsoBotao 1s infinite ease-in-out;
}

@keyframes pulsoBotao {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1); /* Pulso leve para não ser exagerado */
    }
    100% {
        transform: scale(1);
    }
}

#iniciar:hover {
  transform: scale(1.05);
  background-color: #B2228E;
  
}


.palavra {
  position: absolute;
  animation: surgir 5s ease-in-out infinite alternate;
  color: #C2187A;
  font-size: 24px;
  opacity: 0;
  width: 50px;
  height: aut;
}

@keyframes surgir {
  0% { opacity: 0; transform: translateY(20px); }
  50% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-20px); }
}



.coracao {
    top: 20px;
    position: absolute;
    user-select: none;
    -webkit-user-select: none; /* Para navegadores baseados em WebKit (Chrome, Safari) */
    -moz-user-select: none;    /* Para Firefox */
    -ms-user-select: none;
    width: 45px;          
    height: 45px;         
    cursor: pointer;      
    /* Removendo 'margin: 20px auto;' para ser controlado pelo container-agrupado */
    background-image: url('../icons8-heart-100.png');
    background-size: cover;
    /* Mantenha a transição para o clique */
    transition: transform 0.15s ease-out;
    filter: drop-shadow(1px 1px 10px #ce1d1d);
    
    /* === APLICAÇÃO DA ANIMAÇÃO QUE FARÁ O CORAÇÃO PULSAR === */
    animation: pulsoContinua 1.5s infinite ease-in-out; 
}

