body{
  background: linear-gradient(135deg, #0A1F44, #6C3BA5);
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 1s ease;
}

.terreno{
    background-color: brown;
    width: 1500px;
    height: 100px;
    position: absolute;
    top: 88%;
    
}

.posicaoPalavra{
    position: absolute;
    top: 20%;
}

