
body{
  background: linear-gradient(135deg, #0A1F44, #6C3BA5);
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 1s ease;
  overflow: hidden;
}

.conteinerPrincipal{
  filter: drop-shadow(1px 1px 20px rgb(194, 115, 187));
  
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  width: 220px;
  height: 260px;
  background-color: rgb(199, 160, 209);
  border-radius: 15px;
}

.palagrafo{
  filter: drop-shadow(1px 1px 20px rgb(194, 115, 187));
  font-family: 'Courier New', Courier, monospace;
}