
body{
  background: linear-gradient(135deg, #0A1F44, #6C3BA5);
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 1s ease;
}

.conteinerPrincipal{
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  width: 220px;
  height: 260px;
  background-color: rgb(199, 160, 209);
  border-radius: 15px;
}

.conteiner1{
  border-radius: 10px;
  width: 190px;
  height: 70px;
  background-color: #583e56;
}

.conteiner2{
  border-radius: 10px;
  width: 190px;
  height: 70px;
  background-color: #583e56;
}
.conteiner3{
  border-radius: 10px;
  width: 190px;
  height: 70px;
  background-color: #583e56;
}